<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">

    <classes>
      <class name="Pruebas.TestLogin"/>
    </classes>
  </test> <!-- Test
    <parameter name="sUsername" value="guido.robles"/>
  <parameter name="sPassword" value="Guido$01"/>
   -->
</suite> <!-- Suite -->
